
<nav class="menu" id="menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div id="toggle-menu" class="open">Menu</div>
    <ul>
        <li class="homelink">
            <a itemprop="url" href="{{ path('nami_front_homepage') }}">
                <span itemprop="name">Accueil</span>
            </a>
        </li>
        <li class="contactlink">
            <a itemprop="url" href="{{ path('nami_front_page', { 'slug': 'contact.html' }) }}">
                <span itemprop="name">Contact</span>
            </a>
        </li>
    </ul>
</nav>
